<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <% include common/header.ejs %>
  </head>
  <body>
  	<% include common/nav.ejs %>
    <div class='container'>
		<div class="page-header clearfix profile">
            <div class='profile-circle'>
                <div style='background-image: url(https://graph.facebook.com/shinychang.tw/picture?type=large)' class='inner'>
                </div>
            </div>
			<h1>Shiny Chang</h1>
		</div>
		<div class='row'>
			<div class='col-md-6'>
				<div class="panel panel-default experience">
				  	<div class="panel-heading"><%= lang.personalExperience %></div>
					<ul class="list-group">
						<% experiences.forEach(function(exp) { %>
						  	<li class="list-group-item">
							  	<span class="date pull-right"><%= exp.startDate %> ~ <%= exp.endDate %></span>
							  	<span class="job pull-right"><%= exp.job %></span>
							  	<a href='<%= exp.url %>' target="_blank"><%= exp.location %></a>
					  		</li>
				  		<% }); %>
					</ul>
				</div>
			</div>
		</div>
    </div>
    <% include common/footer.ejs %>
  </body>
</html>