<!DOCTYPE html>
<html>
  <head>
  	   <meta charset='utf-8'>
       <meta http-equiv="content-language" content="zh-tw">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="author" content="Shiny">
       <title><%= lib.siteName(title) %></title>
       <meta name='description' content="<%= description %>"></meta>
       <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
       <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
       <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include common/nav.ejs %>
    <div class='archive container'>
      <% for(var year = list.length - 1; year >= 0; year--) { if (!list[year]) continue ; %>
        <h1 class='year '><%= year %> <small>(<%= list[year].length %>)</small></h1>
        <% for(var idx in list[year]) {var article = list[year][idx];  %>
          <div class='item clearfix'>
            <div class='date'><%= article.createTime.toString().substr(4, 6)%></div>
            <a href='/article/<%= article.id %>'><%=article.title%></a>
            <ul class='tag-box'>
            <% for(var o in article.tag) { var tag = article.tag[o]%>
              <li class='tag'><a href='/article/tag/<%= tag %>'><%= tag %></a></li>
            <% } %>
            </ul>
          </div>
        <% } %>
      <% } %>
    </div>
    <% include common/footer.ejs %>
  </body>
</html>