<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="zh-tw">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shiny">
    <title><%= lib.siteName(title) %></title>
    <meta name='description' content="<%= description %>"></meta>
    <meta name="keywords" content="<%= article.tag %>">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel="stylesheet" href="/stylesheets/prettify.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include common/nav.ejs %>
    <div class='container'>
      <article>
        <header class='clearfix'>
          <h2><%= article.title%></h2>
          <div class='create-date'><%= lib.dateString(article.createTime) %></div>
          <div class='desc'>
            <%= lang.author %>：<a href="https://plus.google.com/+ZhiHongChang/?rel=author"><%= lang.ShinyChang %></a>，<%= lang.lastUpdate %>：<%= lib.timeDiff(article.lastUpdate) %>
          </div>
          <% include common/tag.ejs %>
        </header>
        <div>
          <%- article.context %>
        </div>
        <div class='socialBox'>
          <div class="fb-like" data-href="http://shinychang.net/article/<%= article.id %>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
          <div class="g-plusone" data-size="medium"></div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="shinychang">Tweet</a>
        </div>
        <div id="disqus_thread"></div>
      </article>
    </div>
    <% include common/footer.ejs %>
    <script src="/javascripts/google-code-prettify/prettify.js"></script>
    <script src="/javascripts/article.js"></script>
  </body>
</html>