<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
    <meta http-equiv="content-language" content="zh-tw">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shiny">
    <title><%= lib.siteName(title) %></title>
    <meta name='description' content="<%= description %>"></meta>
    <meta name="keywords" content="<%= article.tag %>">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/FancyBox/jquery.fancybox.css' />
    <link rel='stylesheet' href='/stylesheets/FancyBox/helpers/jquery.fancybox-buttons.css' />
    <link rel="stylesheet" href="/stylesheets/prettify.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include common/nav.ejs %>
    <div class='container'>
      <article>
        <header class='clearfix'>
          <h2><%= article.title%></h2>
          <div class='desc'>
            <span title="<%= lang.author %>: <%= lang.ShinyChang %>">
              <i class="fa fa-user"></i> <a href="https://plus.google.com/+ZhiHongChang/?rel=author"><%= lang.ShinyChang %></a>
            </span>
            <span title="<%= lang.createTime %>: <%= lib.dateString(article.createTime)%>">
              <i class="fa fa-calendar"></i> <%= lib.dateString(article.createTime) %>
            </span>
          </div>
          <% include common/tag.ejs %>
        </header>
        <div>
          <%- article.context %>
        </div>
        <ul class="pager">
          <% if (next) { %>
          <li class="previous"><a href="/article/<%= next.id %>">&larr; <%= next.title %></a></li>
          <% } %>
          <% if (prev) { %>
          <li class="next"><a href="/article/<%= prev.id %>"><%= prev.title %> &rarr;</a></li>
          <% } %>
        </ul>
        <div class="addthis_sharing_toolbox"></div>
        <div id="disqus_thread"></div>
      </article>
    </div>
    <% include common/footer.ejs %>
    <script data-no-instant src="//shinychang.disqus.com/embed.js"></script>
  </body>
</html>
