<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <% include common/header.ejs %>
  </head>
  <body>
  	<% include common/nav.ejs %>
    <div class='container'>
      <article>
        <header class='clearfix'>
          <h2><%= article.title%></h2>
          <div class='desc'>
            <span title="<%= lang.author %>: <%= lang.ShinyChang %>">
              <i class="fa fa-user"></i> <a href="https://plus.google.com/+ZhiHongChang/?rel=author"><%= lang.ShinyChang %></a>
            </span>
            <span title="<%= lang.createTime %>: <%= lib.dateString(article.createTime)%>">
              <i class="fa fa-calendar"></i> <%= lib.dateString(article.createTime) %>
            </span>
          </div>
          <% include common/tag.ejs %>
        </header>
        <!-- AD -->
        <ins data-no-instant class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1721860710174593" data-ad-slot="1735246331" data-ad-format="auto"></ins>
        <div>
          <%- article.context %>
        </div>
        <ul class="pager">
          <% if (next) { %>
          <li class="previous"><a href="/article/<%= next.id %>">&larr; <%= next.title %></a></li>
          <% } %>
          <% if (prev) { %>
          <li class="next"><a href="/article/<%= prev.id %>"><%= prev.title %> &rarr;</a></li>
          <% } %>
        </ul>
        <div class="addthis_sharing_toolbox"></div>
        <div id="addthis_recommend"></div>
        <div id="disqus_thread"></div>
      </article>
    </div>
    <% include common/footer.ejs %>
    <script data-no-instant src="//shinychang.disqus.com/embed.js"></script>
  </body>
</html>
