<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <% include common/header.ejs %>
    <link rel='stylesheet' href='/MarkdownEditor/css/mdeditor.css' />
    <link rel='stylesheet' href='/stylesheets/tagmanager.css' />
  </head>
  <body>
  	<% include common/nav.ejs %>
    <div class='container'>
        <form method="post">
            <div class='row'>
                <div class='col-xs-12'>
                    <div class="input-group">
                      <span class="input-group-addon"><%= lang.title%></span>
                      <input name='title' type="text" class="form-control" value="<%= article.title%>" autofocus>
                    </div>
                    <textarea name='md' id='md' ><%= article.md %></textarea>
                    <textarea name='context' id='context' class='hide'><%= article.context %></textarea>
                    <textarea name='intro' id='intro' class='hide'><%= article.intro %></textarea>
                    <input type="text" name="tags" placeholder="Tags" class="tm-input form-control"/>
                    <input id="fileupload" type="file" name="files[]" data-url="/upload" multiple>
                </div>
            </div>
           <div class='row'>
                <div class='col-xs-12'>
                    <ul class='fileBox'>
                    <% for(var o in files) {%>
                      <li><img src='<%= files[o].url %>'></li>
                    <% } %>
                    </ul>
                </div>
            </div>
            <div class='row text-right'>
              <div class='col-xs-12'>
                <input class='btn btn-primary' type='submit' value='<%= lang.save %>'/>
              </div>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrf %>"/>
        </form>
    </div>
    <% include common/footer.ejs %>
    <script src="/MarkdownEditor/src/jquery.autosize.min.js"></script>
    <script src="/MarkdownEditor/src/mdeditor.js"></script>
    <script src="/javascripts/marked.js"></script>
    <script src="/javascripts/jquery.ui.widget.js"></script>
    <script src="/javascripts/jquery.fileupload.js"></script>
    <script src="/javascripts/tagmanager.js"></script>
    <script type="text/javascript">
        (function(window, $) {

            // init file uplaod
            $('#fileupload').fileupload({
                dataType: 'json',
                dropZone: $("body"),
                done: function(e, data) {
                    var pool = [];
                    $.each(data.result.files, function(index, file) {
                        if (typeof file.error !== 'undefined') {
                            alert(file.error);
                            return;
                        }
                        pool.push("<li><img src='" + file.url + "'></li>");
                    });
                    $(".fileBox").prepend(pool);
                }
            });

            // init tags
            $(".tm-input").tagsManager({prefilled: "<%= article.tag || "" %>"});

            // init drop down
            $('.dropdown-toggle').dropdown();

            // editor
            $("#md").MDEditor({
                parser: marked
            }).bind('update', function(e, data){
                var context = $("<div></div>").html(data.html);

                $("#context").val(context.html());
                if (context.find("hr").length) {
                    var intro ='';
                    $($(context).find("hr").eq(0).prevAll().get().reverse()).each(function(idx, item){
                        intro += item.outerHTML+"\n";
                    });
                    $("#intro").val(intro + "<a href='/article/<%= article._id %>'><%= lang.readmore %></a>");
                } else {
                    $("#intro").val(context.html());
                }
            });
        })(window, jQuery);
    </script>
  </body>
</html>