<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <% include common/header.ejs %>
</head>
<body>
    <% include common/nav.ejs %>
    <div class='banner'></div>
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12'>
                <div class="page-header">
                    <h1><%= lang.recentArticle %></h1>
                </div>
                <div class="list-group">
                <% for(o in articles) { var article = articles[o]; %>
                    <a href='/article/<%= article.id%>' class='list-group-item clearfix'>
                        <%= article.title%>
                        <div class='pull-right'><%= lib.dateString(article.createTime)%></div>
                    </a>
                <% }%>
                </div>
            </div>
            <div class='col-xs-12'>
                <div class="page-header">
                    <h1><%= lang.portfolio %></h1>
                </div>
                <div class="list-group">
                    <a href='http://obuy.asia/' class='list-group-item clearfix'>
                        OBuy - A real-time order system (In development)
                        <div class='pull-right'>Online Service</div>
                    </a>
                    <a href='https://chrome.google.com/webstore/detail/cobalt-media-player/lomkdjfdigkefccckbebcanbmndlfjjk' class='list-group-item clearfix'>
                        Cobalt Media Player
                        <div class='pull-right'>Chrome Extension</div>
                    </a>
                    <a href='https://chrome.google.com/webstore/detail/ez-zoom/pgjddfakmeeljhjhnhgakblggcfkmima' class='list-group-item clearfix'>
                        EZ Zoom
                        <div class='pull-right'>Chrome Extension</div>
                    </a>
                    <a href='https://github.com/ShinyChang/MarkDownEditor' class='list-group-item clearfix'>
                        Markdown Editor
                        <div class='pull-right'>jQuery Plugin</div>
                    </a>
                    <a href='https://chrome.google.com/webstore/detail/fbhdophifnddgfhhdkilecdknflkemco/' class='list-group-item clearfix'>
                        Live CSS Editor
                        <div class='pull-right'>Chrome Extension</div>
                    </a>
                </div>
            </div>
            <div class='col-xs-12'>
                <div class="page-header">
                    <h1><%= lang.playground %></h1>
                </div>
                <div class="list-group">
                    <a data-no-instant href='/weather' class='list-group-item clearfix'>
                        現在天氣
                        <div class='pull-right'>Open Data</div>
                    </a>
                    <a data-no-instant href='/embeddable' class='list-group-item clearfix'>
                        IFrame embeddable checker
                        <div class='pull-right'>JavaScript</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% include common/footer.ejs %>
</body>
</html>
