<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>Shiny</title>
        <description>Shiny Chang's personal blog</description>
        <link>http://shinychang.net/</link>
        <lastBuildDate><%= Date() %></lastBuildDate>
        <managingEditor>ublue724@gmail.com (Shiny Chang)</managingEditor>
        <% for (var idx in articles) { %>
        <item>
            <title><%= articles[idx].title%></title>
            <link>http://shinychang.net/article/<%= articles[idx].id%></link>
            <guid isPermaLink="false"><%= articles[idx].id%></guid>
            <pubDate><%= articles[idx].createTime%></pubDate>
            <description>
<![CDATA[
<%- articles[idx].context%>
]]>
            </description>
        </item>
        <% } %>
    </channel>
</rss>